/* App.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

body {
  
  background: linear-gradient(135deg, #4A90E2, #F2F2F2);
  min-height: 100vh;
  text-align: center;
  justify-content: space-around;
  font-family: 'Poppins', sans-serif;
  width: 100%;
  
  
}



.header-container {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin-bottom: 30px;
}

/* Imagen del logo */
.logo {
  max-width: 150px;
  margin-bottom: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: black;
  font-size: 2.5rem;
  margin-bottom: 20px;
  
}

/* Login container */
.login-container {
  margin-top: 40px;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px; 
  padding: 20px;
  display: inline-block;   
}

input {
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  padding: 12px 25px;
  margin: 5px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(45deg, #ff6b6b, #f06595);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

button:hover {
  background: white;
  color: blue;
  transform: scale(1.05);
}

button:active {
  background: linear-gradient(45deg, #d9534f, #c9302c);
}

button:focus {
  outline: none;
  box-shadow: 0 0 0 3px rgba(255, 107, 107, 0.5);
}

.options button {
  margin: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin: 5px 0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.choices-display {
  display: flex;
  justify-content: space-around;
  margin: 20px 0;
}

h3{
  text-transform: uppercase;  /* Poner el nombre en mayúsculas */
}

.choice {
  text-align: center;
}

.choice img {
  width: 100px;
  height: 100px;
}

.result-image img {
  margin-top: 20px;
  width: 150px;
  height: 150px;
}

/* Textos */
.text-box {
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px; 
  padding: 10px;
  margin: 10px 0;
  display: inline-block; 
}

/* Scroll para el historial */
.history-container {
  max-height: 200px;
  overflow-y: auto; 
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(167, 226, 227, 0.9); 
  margin-top: 20px;
}


.stats-container {
  margin-top: 20px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.5); 
  border-radius: 10px;
}

