.footer-container {
    background-color: rgba(154, 162, 218, 0.9); /* Fondo blanco con un poco de transparencia */
    color: #4A4A4A; /* Color del texto */
    text-align: center; /* Centra el texto */
    padding: 20px; /* Espaciado interno */
    border-top: 1px solid #ccc; /* Línea superior para separación */
    margin-top: 30px; /* Espacio superior */
    border-radius: 10px; /* Bordes redondeados */
    /* width: 100%; */
}

.footer-container p {
    font-size: 1.2rem; /* Tamaño del texto */
    margin: 0; /* Elimina márgenes para un mejor espaciado */
}

.footer-logo {
    max-width: 50px; /* Tamaño máximo de la imagen */
    margin-top: 10px; /* Espaciado superior para la imagen */
    border-radius: 50%; /* Bordes redondeados para un efecto de círculo */
}

.footer-container img{
    max-width: 50px;
    border-radius: 50px;
}