.bodylogs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 2%;
    /* Puedes ajustar el ancho y alto de la clase .bodylog si es necesario */
}
.login-container {
    font-size: 1em;
    max-width: 40%;
    max-height: 20%;
    /* Agregar padding interno si es necesario */
    padding: 2%; /* Espaciado interno */
}
input{
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}

.not-succeed {
    color: white;
    font-size: 1.5em; /* Aumentar el tamaño de fuente */
    text-align: center;
    margin-top: 10px;
    padding: 10px 15px; /* Aumentar el espaciado interno */
    background-color: #E66E65;
    display: inline-block;
    border-radius: 5px;
    border: red 2px solid;
}
