
* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    width: 100%;  
    align-items: center;
    justify-content: start;
    position: relative;
    
}

.nav-container {
    display: flex;
    background-color: black;
    color: wheat;
    width: 100%;
    background: linear-gradient(180deg, #4A4A4A, #2C2C2C);
    align-items: center;
   

}

.nav-container img {
  max-width: 100px;
  padding: 16px;
  display: block;
  border-radius: 100px;

}
/*

padding: 5px ;
    width: 100px;
    height: 100px;
    border-radius: 50%;

max-width: 150px;
  margin-bottom: 20px;
  display: block;
  border-radius: 40px;
  margin-left: auto;
  margin-right: auto;
*/
.nav-container>p {
    padding: 20px;
    font-size: 2rem;
    
}